<template name="communities">

  <div id="communities">

    {{> header}}

    <div class="container-fluid">

      <div class="col-md-9">



        <div class="goalCard media">
      	  <div class="media-body">
            <div class="page-header">
              <h1>Goal A</h1>
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
            </div>
            <span class="label label-info">Fitness</span>
            <span class="label label-info">Literature</span>
            <span class="label label-info">Woodworking</span>            
      	  </div>
      	  <div class="media-left media-middle">
            <img alt="SOLO" src="http://lorempixel.com/140/140/" class="img-circle" >
          </div>
        </div>

        <div class="row">Goal B</div>
        <div class="row">Goal C</div>
        <div class="row">Goal D</div>
      </div>

      <div class="col-md-3" id="communities">

        <div class="row" id="subscribed">
  	      <li>Drinking</li><br>
	        <li>Jackin' It</li><br>
	        <li>Fitness</li><br>
        </div>

        <br>

        <div class="row" id="unsubscribed">
          <ul>
  	        <li>Literature</li>
      	    <li>Self-Respect</li>
      	    <li>Community A</li>
      	    <li>Community B</li>
      	    <li>Community C</li>
      	    <li>Community D</li>
	        </ul>
        </div>
      </div>
    </div>
  </div>  
</template>
