<template name="communities">

 <!-- Navigation Bar -->
  {{> header}}

  <div class="container-fluid">

   <!-- List of Goals for Selected Community -->
    <div class="col-md-9">
      <div class="row">Goal A</div> 
      <div class="row">Goal B</div>
      <div class="row">Goal C</div>
      <div class="row">Goal D</div>
    </div>

   <!-- List of Communities -->
    <div class="col-md-3" id="communities">

     <!-- Subscribed Communities -->
      <div class="row" id="subscribed">
	 <li>Drinking</li>
	 <li>Jackin' It</li>
	 <li>Fitness</li>
      </div>

      <br><br>

     <!-- Unsubscribed Communities -->
      <div class="row" id="unsubscribed">
        <ul>
	 <li>Literature</li>
	 <li>Self-Respect</li>
	 <li>Community A</li>
	 <li>Community B</li>
	 <li>Community C</li>
	 <li>Community D</li>
	</ul>
      </div>

    </div>
  </div>  
</template>
