<template name="profile">
    <body>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>Duopoly</h1>
						<nav class="links">
							<ul>
								<li><a href="#">My Profile</a></li>
								<li><a href="#">Communities</a></li>
								<li><a href="#">Requests</a></li>
							</ul>
						</nav>
					</header>

				<!-- Sidebar -->
					<div id="sidebar">

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->

                                        <article class="mini-post">
											
                                            <header>
												<img src="" alt="User Image"/>

                                                <ul>
                                                    <li>Badge #1</li>
                                                    <li>Badge #2</li>
                                                </ul>
											</header>
										</article>

										<article class="mini-post">
											
											<img src="images/pic04.jpg" alt="" />
                                            <header>
												<h3><a href="#">Stats</a></h3>
											</header>
										</article>

                                        <article class="mini-post">
											
											<img src="images/pic04.jpg" alt="" />
                                            <header>
												<h3><a href="#">Communities</a></h3>
											</header>
										</article>

								</div>
							</section>
					</div>
				<!-- Main -->
					<div id="main">

                        <!-- Goal -->
                            <h1 style="text-align: center;">
						        <a href="#"><i class="fa fa-plus"></i> Add New Goal</a>
                            </h1>
						<!-- Goal -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Goal #1: Run 50 miles</a></h2>
									</div>
                                    
								</header>
								<p>Description of goal. Desecription of goal. Description of goal. Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
							</article>

						<!-- Goal -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Goal #2: Climb 10 mountains</a></h2>
									</div>
                                    
								</header>
								<p>Description of goal. Desecription of goal. Description of goal. Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
							</article>

						<!-- Goal -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">Goal #3: Learn violin</a></h2>
									</div>
                                    
								</header>
								<p>Description of goal. Desecription of goal. Description of goal. Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
							</article>

					</div>



			</div>
	</body>
</template>
