<template name="requests">

  {{> header}}

  <div class="container-fixed"></div> 

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-5"><h2 style="text-align: center;">Sent</h2></div>
    <div class="col-sm-5"><h2 style="text-align: center;">Received</h2></div>
  </div>

  {{#each goals}}
  <div class="row container-fixed requestCard">
    <div class="col-sm-2">{{this.name}}</div>
    <div class="col-sm-5">
      {{#each this.sentRequests}}
      <ul class="list-group">
        <li class="list-group-item" role="presentation">
          <div class="container-fluid">
            <div class="col-sm-8">{{this}}</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"><a href="#"><i class="fa fa-lg fa-times-circle" style="color: red;"></i></a></div>
          </div>
        </li>
      </ul>
      {{/each}}
    </div>

    <div class="col-sm-5">
      {{#each this.receivedRequests}}
      <ul class="list-group">
        <li class="list-group-item">
          <div class="container-fluid">
            <div class="col-sm-6">{{this}}</div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"><a href="#"><i class="fa fa-lg fa-check-circle" style="color: green;"></i></a></div>
            <div class="col-sm-2"><a href="#"><i class="fa fa-lg fa-times-circle" style="color: red;"></i></a></div>
          </div>
        </li>
      </ul>
      {{/each}}  
    </div>
  </div> 
  {{/each}}

</template>
