<template name="sidebar">
	<div id="sidebar">

		<!-- Mini Posts -->
			<section>
				<div class="mini-posts">

					<!-- Mini Post -->

            <article class="mini-post">
							
              <header>
								<img src="" alt="User Image"/>

                <ul>
                    <li>Badge #1</li>
                    <li>Badge #2</li>
                </ul>
							</header>
						</article>

						<article class="mini-post">
							
							<img src="images/pic04.jpg" alt="" />
                                    <header>
								<h3><a href="#">Stats</a></h3>
							</header>
						</article>

                                <article class="mini-post">
							
							<img src="images/pic04.jpg" alt="" />
                                    <header>
								<h3><a href="#">Communities</a></h3>
							</header>
						</article>

				</div>
			</section>
	</div>
</template>