<template name="sidebar">
    <div id="sidebar" class="col-md-4">
        <img alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" class="img-circle" />
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
                    <div class="caption">
                        Badge #1
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Second" src="http://lorempixel.com/output/city-q-c-600-200-1.jpg" />
                    <div class="caption">
                        Badge #2
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <img alt="Bootstrap Thumbnail Third" src="http://lorempixel.com/output/sports-q-c-600-200-1.jpg" />
                    <div class="caption">
                        <div>
                            Badge #3
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Statistics
                </h3>
                <ul>
                    <li>
                        Statistic #1
                    </li>
                    <li>
                        Statistic #2
                    </li>
                    <li>
                        Statistic #3
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>
                    Communities
                </h3>
                <ul>
                    <li>
                        Community #1
                    </li>
                    <li>
                        Community #2
                    </li>
                    <li>
                        Community #3
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
