a:hover{
	text-decoration: none;
}

a{
	text-decoration: none;
}

body { 
	background-color:#EAF1F1;
}

.goalCard{
	background-color: #FFFFF0;
	padding: 1%;
	border-radius: 15px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.progress{
	height: 18px;
}