a:hover{
	text-decoration: none;
}

a{
	text-decoration: none;
}

body { padding-top: 95px; }

#goalCreation {
    margin-left: 10%;
    margin-right: 10%;
}

#goalCreation textarea {
    background-color: rgba(144, 144, 144, 0.25);
    color: #fff;
}

.goalCard{
	background-color: #CCFF99;
	outline-style: outset;
	padding-left: 10px;
	padding-bottom: 10px;
}